/*** Reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: bullet;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.home_time_table table, .home_time_table th, .home_time_table td{
	border: 1px solid #839496;
	text-align: center;
}

.home_time_table th{
	font-weight: bold;
}

/*** Basics ***/
body {
	font-family: Verdana, serif;
	font-size: 13px;
	line-height: 1.7;
}

a, a:active, a:visited{color:#0088cc;text-decoration:none;}
a:hover{color:#005580;text-decoration:underline;}

/*a, a:active, a:visited {
	text-decoration: none;
	border-bottom: 1px solid #839496;
	padding-bottom: 2px;
}
a:hover {
	background-color: #839496;
	color: #000000;
}*/

p { margin-bottom: 0px; margin-top: 8px;}
ul, ol { padding: 0 0 0px 30px; } /* top right bottom left */
ol li, ul li { margin-top: 2px; margin-bottom: 2px;}
em, i { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 0.85em; }
sup { vertical-align: super; font-size: 0.85em; }
sub { vertical-align: sub; font-size: 0.85em; }

code {
    font: 0.85em Monaco, Courier, Monospace;
}

blockquote {
    margin: 22px 22px;
    padding: 0 20px;
    border-left: 2px solid #000000;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5em;
}

acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}


h1 {
	font-size: 17px;
	margin: 30px 0 10px 0;
}
h2 {
	font-size: 15px;
	margin: 30px 0 10px 0;
}
h3 {
	font-size: 14px;
	margin: 15px 0 5px 0;
}


/*** Useful Classes ***/
.clear { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.img-left { float: left; margin: 4px 10px 4px 0; }
.img-right { float: right; margin: 4px 0 4px 10px; }
.img-middle { vertical-align: middle; }
.nopadding { padding: 0; }
.nounderline { text-decoration: underline; }


/*** Structure ***/
#page {
	width: 660px;
	margin: 0 auto;
	position: relative;
}

#header {
	width: 660px;
	margin: 40px auto 50px auto;
}
#header h1 {
	font-size: 32px;
	margin-bottom: 4px;
}
#header h1 a {
	border: none;
}

#footer {
	width: 660px;
	margin: 50px auto 20px auto;
	padding-top: 10px;
	font-size: 0.85em;
	border-top: 1px solid #073642;
}

#content {
	width: 660px;
	margin: 0 auto;
}

/* This selector does not work??? eventually hard code in default.html*/
#feed {
	text-align: right;
	display: block;
	float: right;
}

#sidebar {
	position: fixed;
	text-align: left;
	width: 160px;
	top: 100px;
	left: 5px;
}

#sidebar li {
	list-style: none;
	margin: 2px 0;
}

#sidebar a {
	border: none;
	font-family: "Helvetica Neue", "Helvetica", serif;
	font-size: 1.2em;
	padding: 2px 4px;
}



/*** Posts ***/
article {
	margin-bottom: 40px;
}

article h1 {
	font-size: 17px;
	margin: 0 0 10px 0;
}
article h1 a {
	border: none;
}
article h1 a.anchor {
	margin-left: 8px;
}

article img {
	display: block;
	text-align: center;
	margin: 0 auto 1em auto;
}

article .meta {
	padding-top: 6px;
	font-size: 0.85em;
	font-style: italic;
}

img.left {
	float: left;
	margin: 0 1em 1em 0;
}
img.right {
	float: right;
	margin: 0 0 1em 1em;
}
img.center {
	display: block;
	text-align: center;
	margin: 0 auto 1em auto;
}

#content img{
	display: block;
	text-align: center;
	margin: 0 auto 1em auto;
	width: 80%;
}

#collaborators img{
	display: block;
	text-align: center;
	margin: auto;
	width: auto;
}

/* content */

#content h3{
	font-weight: bold;
	/*font-style: italic;*/
}
#content h3:before{
	/*content:'<i class="fa fa-angle-double-right fa-fw"></i>';*/
	content:'>>\0000a0';
}
#content h2{
	border-bottom: 1px solid #839496;
}

#content h1{
	text-align: center;
}

/*** Pagination ***/
.postnavigation {
	padding-top: 10px;
    text-align: center;
    font-size: 0.85em;
}

.postnavigation .left {
	float: left;
}

.postnavigation .right {
	float: right;
}



/*** Media Queries ***/
@media all and (max-width: 930px) {

	#page, #header, #content, #footer {
		width: inherit;
		padding-left: 10px;
		padding-right: 10px;
	}

	#sidebar {
		position: relative;
		text-align: left;
		width: 100%;
		left: 0px;
		top: 0px;
		margin: 10px 10px 20px 10px;
	}

	#sidebar nav select.mnav {
		display: block;
		margin-bottom: 15px;
	}

	#sidebar li {
		display: inline;
		list-style-type: none;
	}
}

@media all and (max-width: 650px) {

	#sidebar li {
		display: block;
	}
}


/*** Icons ***/
@font-face {
  font-family: 'solarthemeicons';
  src: url('../fonts/solarthemeicons.eot');
  src: url('../fonts/solarthemeicons.eot#iefix') format('embedded-opentype'),
       url('../fonts/solarthemeicons.woff') format('woff'),
       url('../fonts/solarthemeicons.ttf') format('truetype'),
       url('../fonts/solarthemeicons.svg#solarthemeicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "solarthemeicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1.7;
}
 
.icon-sun:before { content: '\e801'; }
.icon-anchor:before { content: '\e800'; }
.icon-anchor {
	font-size: 65%;
}

pre code{
	display: block;
	overflow: auto;
}

@media print {
	a[href]:after {
		content: " (" attr(href) ") ";
	}
	/* when print, cancel scroll just overflow to next line */
	pre code{
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
		display: block;
		overflow: visible;
	}
}
